@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stephteven's Tech Reviews</h1>
    <p class="lead">Reviews By Stephteven.</p>
    <p>Drop Pod Free Guarantee</p>
    <p><a href="../Reviews/Index" class="btn btn-primary btn-lg">Review List</a></p>
</div>

